@page "/Oyunlar"
@using System.Text.Json
@using WEBUI.Pages.Modal
<style>
    
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .welcome-title {
        font-size: 24px;
        color: #1b6ec2;
        margin-bottom: 20px;
    }

    .button-container {
        margin-bottom: 20px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #1b6ec2;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-right: 10px;
    }

    .btn:hover {
        background-color: #1861ac;
    }

    .game-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .game-card {
        width: 48%; 
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f8f8f8;
        transition: background-color 0.3s;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .game-card:hover {
        background-color: #eaeaea;
    }
</style>

<div class="container">
    <h1 class="welcome-title">NBA Oyun Takibi</h1>

    <div class="button-container">
        <button class="btn" @onclick="GetAllGames">Tüm Oyunları Getir</button>
    </div>

    @if (Games != null)
    {
        <h2>Oyunlar:</h2>
        <div class="game-container">
            @foreach (var game in Games)
            {
                <div class="game-card">
                    <h4>@game.home_team.full_name vs @game.visitor_team.full_name</h4>
                    <p>
                        <strong>Tarih:</strong> @game.date<br />
                        <strong>Saat:</strong> @game.time<br />
                        <strong>Durum:</strong> @game.status<br />
                        <strong>Ev Sahibi Takım:</strong> @game.home_team.full_name<br />
                        <strong>Ev Sahibi Skor:</strong> @game.home_team_score<br />
                        <strong>Deplasman Takım:</strong> @game.visitor_team.full_name<br />
                        <strong>Deplasman Skor:</strong> @game.visitor_team_score<br />
                    </p>
                </div>
            }
        </div>
    }
</div>

@code {
    private List<Game.GameInfo> Games;

    private async Task GetAllGames()
    {
        var apiUrl = "https://free-nba.p.rapidapi.com/games?page=0&per_page=25";
        await FetchGames(apiUrl);
    }

    private async Task FetchGames(string apiUrl)
    {
        using (HttpClient client = new HttpClient())
        {
            client.DefaultRequestHeaders.Add("X-RapidAPI-Key", "3a939282d6msh8fd2ae1c01713d9p1c39acjsn77c428d1ce64");
            client.DefaultRequestHeaders.Add("X-RapidAPI-Host", "free-nba.p.rapidapi.com");

            var response = await client.GetStringAsync(apiUrl);
            var responseData = JsonSerializer.Deserialize<Game.GameResponse>(response, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });

            Games = responseData.data;
        }
    }
}

